/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --color-nav: #ff0070;
  --color-rectangle: #ff0070;
  --color-title: #db00ff;
  --color-text: #f1b2ce;
  --color-title-text: #000028;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --color-article-title: #ff0070;
}
