/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --color-title: #DB00FF;
  --color-text: #F1B2CE;
  --color-title-text: #000028;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --color-article-title: #FF0070;
}
