/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --color-title-text: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
}