/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Вписывать сдесь медиазавыражения для адаптации под любые экраны */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  position: relative;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* УГОЛКИ */
.decorated-zone::before,
.decorated-zone::after {
  content: " ";
  position: absolute;
  inline-size: 25.035839080810547px;
  block-size: 25.001531600952237px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

/* ШАПКА */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  align-self: center;
}

.header__rec::after {
  content: " ";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -20px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-accent);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family), sans-serif;
  margin-left: 10px;
  align-self: center;
}

.header__text {
  position: relative;
  margin: 54px 10px 0;
  height: fit-content;
}

.header__text p {
  color: var(--color-title-text);
  font-weight: var(--font-weight-accent);
  font-size: var(--text-size);
  line-height: 23.4px;
  font-family: var(--font-family), sans-serif;
}

.header .cards__title {
  text-align: right;
  background-color: var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.cards__title {
  color: var(--color-title-text);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-accent);
  font-size: var(--text-size);
  line-height: 23.4px;
}

/* МЕНЮ */
.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-start: 10px;
  padding-right: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: var(--accent-color);
  font-family: var(--font-family), sans-serif;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  font-size: var(--text-size);
}

.header__theme-menu-button:hover {
  border-color: var(--button-color-hover);
  height: 26px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
  height: 26px;
  width: 70px;
}

/* ГЛАВНАЯ ЧАСТЬ */
.main {
  padding-inline: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-block-start: 40px;
}

.articles:not(:first-of-type) {
  padding-block-start: 47px;
}

.articles__title {
  font-family: var(--font-family), sans-serif;
  font-size: var(--text-size);
  color: var(--color-article-title);
  font-weight: var(--font-weight-accent);
  line-height: 23.4px;
}

.articles__content {
  display: flex;
  flex-direction: column;
  gap: 23.5px;
}

.cards {
  font-family: var(--font-family), sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10.5px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards__text {
  font-family: var(--font-family);
  font-size: var(--text-size);
  color: var(--color-text);
  display: block;
  line-height: 23.4px;
}

.cards__subtitle {
  font-weight: var(--font-weight-text);
  margin-block-start: 9.5px;
  font-size: var(--text-size);
  font-family: var(--font-family), sans-serif;
}

/* ссылка */
.cards__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.cards__text-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.cards__text-link:focus {
  outline: none;
}

.cards__text-link:focus-visible {
  outline: 1px solid var(--color-text);
}
/* конец ссылки */

/* ГАЛЕРЕЯ */
.gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 50px;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 40px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ПОДВАЛ */
.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  place-items: center;
  min-block-size: 668px;
}

.footer__title {
  font-family: var(--font-family), sans-serif;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  font-weight: var(--font-weight-accent);
  font-size: var(--text-size-main);
}

/* МЕДИАВЫРАЖЕНИИ */
@media (width >= 768px) {
  /* ВЕРХУШКА */

  .header__text {
    right: 10px;
    max-inline-size: 364px;
    justify-self: end;
    align-self: center;
    margin: 0 0 20px 0;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    margin-inline-end: 10px;
  }

  .title-decor {
    margin-inline-end: 10px;
  }

  .articles {
    padding-block-start: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .articles__title {
    padding-left: 11px;
    width: 240px;
  }

  .articles__content {
    padding-left: 4px;
    gap: 20px;
  }

  .cards {
    grid-column: 2;
  }

  .cards__text {
    padding-right: 10px;
  }

  .articles:not(:first-of-type) {
    padding-block-start: 78px;
  }

  .articles .articles__title {
    grid-column: 1;
    margin: 0;
  }

  .articles .articles__content {
    grid-column: 2;
    display: block;
  }

  .articles .cards {
    margin-block-end: 20px;
  }

  .articles .cards:last-of-type {
    margin-block-end: 0;
  }

  .articles-decorated {
    margin-block-start: 1px;
  }

  .articles-decorated .cards {
    margin-inline-start: 5px;
  }

  .articles-decorated .articles__content {
    display: flex;
    grid-row: 2;
    grid-column: 1/3;
    flex-direction: column;
    gap: 0px;
  }

  /* ГАЛЕРЕЯ */
  .gallery {
    margin-block-start: 80px;
    margin-inline-start: 12px;
    gap: 22px;
  }

  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-inline-end: 12px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  /* ФУТЕР */
  .footer {
    margin-top: 23px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  /* УГОЛКИ */
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  /* ВЕРХУШКА */
  .header__text {
    max-inline-size: 491px;
    margin-block-end: 20px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 9px;
  }
  /* ГЛАВНАЯ ЧАСТЬ */
  .articles {
    padding-block-start: 58px;
  }

  .articles__title {
    width: auto;
  }

  .articles__content {
    padding-left: 0px;
  }

  .articles:first-of-type .cards:last-of-type {
    margin-block-end: 0;
  }

  .articles-decorated .articles__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 0px;
  }

  .articles-decorated .articles__title {
    grid-column: 1;
    grid-row: 1;
    max-inline-size: 315px;
    margin-block-start: 5px;
  }

  .articles-decorated .cards {
    grid-row: 2;
    grid-column: auto;
    margin-inline-start: 10px;
  }

  /* ГАЛЕРЕЯ */
  .gallery {
    margin-block-start: 80px;
  }

  .gallery .title-decor {
    margin-inline-end: 10px;
  }

  /* ПОДВАЛ */
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
