/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Вписывать сдесь медиазавыражения для адаптации под любые экраны */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  position: relative;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  min-height: 100vb;
}

/* ШАПКА */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vb;
  min-block-size: 668px;
  /* padding: 10px; */
}

.header__rec {
  position: absolute;
  inset-block-start: 10px; /*????????*/
  inset-inline-end: 38px; /*????????*/
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: ' ';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -28px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-accent);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline-start: 10px;
}

/* .header__title-text {
  display: block;
} */

.title-decor {
  display: grid;
  /* gap: 20px; */
  justify-items: end;
  margin-inline-end: 10px;
  min-inline-size: 364px;
  background-color: var(--accent-color);
}

.cards__title {
  color: var(--color-title-text);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  min-inline-size: 364px;
  justify-self: end;
}

/* МЕНЮ */
.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 10px;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
  font-family: var(--font-family), sans-serif;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  border-color: var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

/* ГЛАВНАЯ ЧАСТЬ */
.main {
  background-color: var(--bg-color);
  padding-inline: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 40px;
}

.articles:not(:first-of-type) {
  padding-block-start: 50px;
}

.articles__title {
  font-family: var(--font-family), sans-serif;
  font-size: var(--text-size);
  color: var(--color-article-title);
  font-weight: var(--font-weight-accent);
  line-height: 23.4px;
}

.articles__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  font-family: var(--font-family), sans-serif;
  display: flex;
  flex-direction: column;
  /* padding-block-start: 10px; */
  gap: 10px;
}

.cards__text {
  color: var(--color-text);
}

.cards__subtitle {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-text);
  justify-self: end;
  line-height: 23.4px;
  min-inline-size: 364px;
}

/* ссылка */
.cards__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.cards__text-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.cards__text-link:focus {
  outline: none;
}

.cards__text-link:focus-visible {
  outline: 1px solid var(--color-text);
}
/* конец ссылки */

/* ГАЛЕРЕЯ */
.gallery__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-block-start: 10px; */
  padding-block-end: 40px;
}

/* ПОДВАЛ */
.footer {
  position: relative;
  display: grid;
  block-size: 100vb;
  place-items: center;
  background-color: var(--bg-color);
  min-block-size: 668px;

}

.footer__title {
  font-family: var(--font-family), sans-serif;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-weight: var(--font-weight-accent);
  font-size: var(--text-size-main);
}

/* МЕДИАВЫРАЖЕНИИ */
@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: 0;
  }

  .header__text-epigraph {
    max-inline-size: 364px;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    margin-inline-end: 20px;
  }

  .title-decor {
    margin-inline-end: 20px;
    
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text-epigraph {
    max-inline-size: 491px;
  }
}
