/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --color-nav: #ff0070;
  --color-rectangle: #ff0070;
  --color-title: #db00ff;
  --color-text: #f1b2ce;
  --color-title-text: #000028;
  --color-article-title: #ff0070;
  --button-color-hover: rgb(255 0 112 / 0.4);
  --font-family: "IBM Plex Mono";
  --font-weight-accent: 700;
  --font-weight-text: 400;
  --text-size: 18px;
  --text-size-main: 116px;
}
